body {
    background-color: white;
}

.white-bg {
    background: rgb(233, 230, 230);
}

.container {
    max-width: 900px;
}

.fullheight {
    height: 100vh;
    padding: 50px 25px;
}

#kok {
width: 60px;
}